<div class="container-fluid padding-left">

<%@projects.each do |p| %>
  <div class="panel panel-primary">
  <!-- Default panel contents -->
    <div class="panel-heading">
      <h3 class="panel-title"><%=p.title%></h3>
    </div>
 
    <div class="panel-body">
      <p><%=p.description%></p>
    </div>

    <div class="panel-footer">
      <p>Deadline: <span><i><%=p.deadline%></i></span></p>
      <div class="view-detail">
      	<%= link_to "View Detail", project_path(p.id)%>
      </div>
    </div>

  </div> 
<%end%> 
</div>